/.github
/src
/tests
/examples
/__mocks__
/node_modules
/coverage

.env*
.DS_Store
CODEOWNERS
CONTRIBUTING.md

eslint.config.mjs
.prettierrc
.prettierignore
tsconfig.json
tsup.config.ts
vitest.config.mts
